
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    /* background: linear-gradient(
      90deg,
      #003638 0%,
      #055052 100%
    ); */
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 420px;
    min-height: 600px;
    background: #a28b8b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    box-shadow: -10px -1px 10px 1px #9ea5a5;
   
  }

  @media (max-width:500px){
    .todo-app{
        width: 300px;
        min-height: 400px;
    }
  }

  h1 {
    margin: 30px 0px 10px 0px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    background-color: rgb(132, 86, 107);
    padding: 20px;
    
   
  }
  h5 {
    margin:10px 0px 32px 0px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 900;
  }
  .h1-and-h5-in-todo-list{
    margin-top: -50px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
   margin-left: -20px;
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    border-top: 0px;
    border-bottom:2px solid white;
    border-left: 2px solid white;
    border-right: 0px solid white;
    /* outline: none; */
    width: 250px;
    background: #fff;
    color: #fff;
  }
  
  .todo-input::placeholder {
    color: #e2e2e2;
  }
  .todo-input:focus{
      background-color: rgb(255, 255, 255);
      color: black;
      border-radius: 15px;
      border-radius: 0px;
      border:0px solid white
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      #87597b 0%,
      #806565 100%
    );
    color: #fff;
    text-transform: capitalize;
    margin-left: 10px;
  }
  
  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      #650460 0%,
      #04009A 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      #693c4b 0%,
      #ac8096 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      #47154f 0%,
      #826c7f 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      #5d1c1c 0%,
      #936d77 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      #541233 0%,
      #755b6a 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: space-around;
    cursor: pointer;
    width: 20%;
    
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }